





main.cover
  .cover_background(style="background-image: url(../img/svg/BG.svg);")
  img(src="@img/svg/Ellipse1.svg" , alt="background ellipse").background_ellipse 
  img(src="@img/svg/Ellipse2.svg" , alt="background ellipse").background_ellipse.background_ellipse--b 


  .container
      section.cover_left
        h2.cover__ttl About this platform
        .cover__txt.
                   Place a bet on the side that you think is winning.
                    The tokens will go into a smart contract and your
                     bid will be displayed in open orders.
                      If someone answers your bet, the coin will spin.
                       The algorithm will randomly select the winner.
                        Statistics are completely open.
                         If no one responds to your bet within 30 minutes,
                          the tokens will be returned to your wallet.
                           The platform's commission is 5% of the winnings.

        a(href="#!").cover__read-more
          span.read-more_icon
            +svg_arrow-aa
          span Подробнее

      
      section.cover__right
        img(src="@img/svg/Frame.svg", width ="300" , alt="Frame")





