
    

//-/*e
section(id='popUpJsRent').--js-popup.popup-wrapper.--center
  a(href="#!").--js-popup_close.popup_wrapper-close
  section.pop-up.pop-up--b
    a(href="#!").--js-popup_close.-close-b

    h3.pop-up__ttl Бронирование льда
    form.form-mess(id="formMess", action="#")
      .form-mess__top
        input.form-mess__input._req.-name(id="formName", type="text", placeholder="Имя ", name="name")
        input.form-mess__input._req.-phone(id="formEmail",type="text", placeholder="Телефон", name="email")
      input.form-mess__input._req.-date(id="formEmail",type="text", placeholder="Дата и время", name="date")  
      textarea.form-mess__textarea._req(id="formMessage",placeholder="Комментарий", name="message")
      a(href="#popUpJsMessageTest").--js_link.form-mess__accept Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности.

      .capabilities_btn.btn-close.btn-close--b
        a(href="#popUpJsMessageOk").--js_link отправить



section(id='popUpJsMessage').--js-popup.popup-wrapper.--center.popup-message
  a(href="#!").--js-popup_close.popup_wrapper-close
  section.pop-up.pop-up--b
    a(href="#!").--js-popup_close.-close-b

    h3.pop-up__ttl Связаться с нами
    form.form-mess(id="formMess", action="#")
      .form-mess__top
        input.form-mess__input._req.-name(id="formName", type="text", placeholder="Имя ", name="name")
        input.form-mess__input._req.-phone(id="formEmail",type="text", placeholder="E-mail", name="email")  
      textarea.form-mess__textarea._req(id="formMessage",placeholder="Сообщение", name="message")
      a(href="#popUpJsMessageTest").--js_link.form-mess__accept Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности.

      .capabilities_btn.btn-close.btn-close--b
        a(href="#popUpJsMessageTest").--js_link отправить




















